<form [formGroup]="forgotPasswordForm" class="py-10 px-5 flex flex-col">
    <h1 class="mb-5 text-center">Restablecer Contraseña</h1>
    <div class="mb-6">
      <label for="email" class="form-label">Correo Electrónico:</label>
      <input formControlName="email" type="email" class="form-control ml-3 px-3 py-1 rounded-lg bg-slate-100" id="email" aria-describedby="emailHelp">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-red-600">
        <div *ngIf="email.errors?.['required']">
          El Correo Electrónico es requerido.
        </div>
        <div *ngIf="email.errors?.['email']">
          El Correo Electrónico debe tener un formato válido.
        </div>
      </div>
    </div>
    <button type="submit" (click)="submitRequest()" class="bg-green-400 mt-5 btn px-2 py-1 rounded-lg">Enviar Solicitud</button>
  </form>